<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".view.notice.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".view.sign_up.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.sign_in.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".view.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>